@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Device.DeviceAuthorizationViewModel
@{
    ViewBag.Title = IdentityTexts.Backend_Identity_Device_Confirmation_Title;
}

<div class="row justify-content-center">
    @if (Model.ClientLogoUrl != null)
    {
        <div>
            <img src="@Model.ClientLogoUrl" alt="">
        </div>
    }
    <h1>
        @Model.ClientName
        <small>@IdentityTexts.Backend_Identity_Consent_RequestPermission_Label</small>
    </h1>
</div>

@if (Model.ConfirmUserCode)
{
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <p>
                @string.Format(IdentityTexts.Backend_Identity_Device_Confirmation_Message, Model.UserCode)
            </p>
        </div>
    </div>
}

<div class="row justify-content-center">
    <div class="col-sm-4 text-center text-info">
        <i class="fas fa-triangle-exclamation"></i>
        <strong>@IdentityTexts.Backend_Identity_Consent_UncheckGrants_Label</strong>
    </div>
</div>

<form asp-action="Callback" class="consent-form">
    <input asp-for="UserCode" type="hidden" value="@Model.UserCode"/>

    <div class="row justify-content-center">
        <partial name="_ValidationSummary"/>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center">
                <partial name="_PersonalInfo"></partial>
                <partial name="_ApplicationAccess"></partial>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">

            @if (Model.AllowRememberConsent)
            {
                <div class="consent-remember mt-2">
                    <label>
                        <input class="consent-scopecheck" asp-for="RememberConsent"/>
                        <strong>@IdentityTexts.Backend_Identity_Consent_RememberDecision_Label</strong>
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-center">

            <div class="form-group">
                <button name="button" value="yes" class="mdc-button mdc-button--raised" autofocus>@IdentityTexts.Backend_Identity_Consent_Allow_Label</button>
                <button name="button" value="no" class="mdc-button mdc-button--outlined">@IdentityTexts.Backend_Identity_Consent_Disallow_Label</button>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            @if (Model.ClientUrl != null)
            {
                <a target="_blank" href="@Model.ClientUrl">
                    <i class="fa-solid fa-circle-info"></i>
                    <strong>@Model.ClientName</strong>
                </a>
            }
        </div>
    </div>
</form>