@using Meshmakers.Octo.Backend.IdentityServices.Services
@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Home.HomeViewModel
@inject IOemService OemService;

@{
    ViewData["Title"] = IdentityTexts.Backend_Identity_Home_Title;
}

<div class="row justify-content-center">
    <div class="col-sm-10 text-center">
        <h1>
            <img class="icon" src="@OemService.Favicon32x32" alt="">
            @string.Format(IdentityTexts.Backend_Identity_Home_Welcome_Label, OemOptions.Value.ApplicationName, User.Identity?.Name)
        </h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-10 text-center">
        <p>@string.Format(IdentityTexts.Backend_Identity_Home_Introduction_Label, OemOptions.Value.ApplicationName)</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto mt-3 text-center">
        <div class="d-flex flex-wrap">

            <partial name="UserInfo"></partial>

            <div class="mdc-card m-2">
                <div class=" octo-card-content">

                    <div class="octo-card__primary">
                        <h5 class="octo-card__title mdc-typography mdc-typography--headline5">@IdentityTexts.Backend_Identity_Home_QuickAccess_Header</h5>
                    </div>

                    <div class="mdc-card__content">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a asp-controller="Manage" asp-action="Index" class="nav-link">@IdentityTexts.Backend_Identity_Navigation_Manage_Header</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Manage" asp-action="ManageLogins" class="nav-link">@IdentityTexts.Backend_Identity_Navigation_ManageLogIns_Header</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Device" asp-action="Index" class="nav-link">@IdentityTexts.Backend_Identity_Navigation_DeviceLogin_Header</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>