@using Duende.IdentityServer.Extensions
@using Meshmakers.Octo.SystematizedData.Persistence.SystemEntities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<OctoUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var hasPassword = false;
    var isDeveloper = false;
    if (user != null)
    {
        hasPassword = await UserManager.HasPasswordAsync(user);
        isDeveloper = user.Roles.Contains("Developer");
    }
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <nav class="navbar navbar-expand-md navbar-dark octo-navbar">
        <div class="order-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@OemOptions.Value.ApplicationName</a>
        </div>
        <div class="navbar-collapse collapse w-50 order-3" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                @if (User.IsAuthenticated())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @IdentityTexts.Backend_Identity_Navigation_Profile_Header
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index">@IdentityTexts.Backend_Identity_Navigation_Manage_Header</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="ManageLogins">@IdentityTexts.Backend_Identity_Navigation_ManageLogIns_Header</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            @if (hasPassword)
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="ChangePassword">@IdentityTexts.Backend_Identity_Navigation_ChangePassword_Header</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="SetPassword">@IdentityTexts.Backend_Identity_Navigation_ChangePassword_Header</a>
                                </li>
                            }

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Grants" asp-action="Index">@IdentityTexts.Backend_Identity_Navigation_Grants_Header</a>
                            </li>
                        </ul>
                    </li>

                    @if (isDeveloper)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @IdentityTexts.Backend_Identity_Navigation_Development_Header
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                <a class="dropdown-item" href="~/swagger/">@IdentityTexts.Backend_Identity_Navigation_API_Header</a>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Diagnostics" asp-action="Index">@IdentityTexts.Backend_Identity_Navigation_Diagnostics_Header</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="~/.well-known/openid-configuration">@IdentityTexts.Backend_Identity_Navigation_DiscoveryDocument_Header</a>
                                </li>
                            </ul>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Device" asp-action="Index">@IdentityTexts.Backend_Identity_Navigation_DeviceLogin_Header</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">@IdentityTexts.Backend_Identity_Navigation_Logout_Header</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">@IdentityTexts.Backend_Identity_Navigation_Login_Header</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
