@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Account.LogoutViewModel
@inject IOptions<OemOptions> OemOptions;
@{
    ViewBag.Title = IdentityTexts.Backend_Identity_Logout_Title;
    Layout = OemOptions.Value.HideNavigation ? "_LayoutNoNavigation" : "_Layout";
}


<div class="row justify-content-center">
    <div class="col-sm-4">
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
            <fieldset>
                <div class="mdc-card">
                    <div class="octo-card-content">

                        <div class="octo-card__primary">
                            <h1 class="octo-card__title mdc-typography mdc-typography--headline1">@IdentityTexts.Backend_Identity_Logout_Title</h1>
                        </div>

                        <div class="mdc-card__content">

                            <p>@string.Format(IdentityTexts.Backend_Identity_Logout_LogoutMessage, OemOptions.Value.ApplicationName)</p>
                        </div>
                        <div class="mdc-card__actions">
                            <button class="mdc-button mdc-button--raised mdc-button mdc-card__action mdc-card__action--button">@IdentityTexts.Backend_Identity_Common_Yes</button>
                            <a class="mdc-button mdc-button--outlined  mdc-card__action mdc-card__action--button" asp-controller="Home" asp-action="Index">@IdentityTexts.Backend_Identity_Common_No</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>