@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Manage.IndexViewModel
@{
    ViewData["Title"] = IdentityTexts.Backend_Identity_ManageProfile_Title;
}

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_ManageProfile_Title</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p>@IdentityTexts.Backend_Identity_ManageProfile_Subtitle</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p class="text-success">@ViewData["StatusMessage"]</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <div class="d-flex flex-wrap">
            <partial name="UserInfo"></partial>

            <div class="mdc-card m-2">
                <div class=" octo-card-content">

                    <div class="octo-card__primary">
                        <h5 class="octo-card__title mdc-typography mdc-typography--headline5">@IdentityTexts.Backend_Identity_Actions_Header</h5>
                    </div>

                    <div class="mdc-card__content">

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a asp-controller="Manage" asp-action="ManageLogins" class="nav-link">@string.Format(IdentityTexts.Backend_Identity_Actions_ManageLogins_Header, Model.Logins?.Count)</a>
                            </li>
                            <li class="nav-item">
                                @if (Model.HasPassword)
                                {
                                    <a asp-controller="Manage" asp-action="ChangePassword" class="nav-link">@IdentityTexts.Backend_Identity_Actions_ChangePassword_Header</a>
                                }
                                else
                                {
                                    <a asp-controller="Manage" asp-action="SetPassword" class="nav-link">@IdentityTexts.Backend_Identity_Actions_CreatePassword_Header</a>
                                }
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Grants" asp-action="Index" class="nav-link">@IdentityTexts.Backend_Identity_Actions_Grants_Header</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>