@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Manage.ManageLoginsViewModel
@{
    ViewData["Title"] = IdentityTexts.Backend_Identity_ManageLogins_Title;
}

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_ManageLogins_Title</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p>@IdentityTexts.Backend_Identity_ManageLogins_Subtitle</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p class="text-success">@ViewData["StatusMessage"]</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <div class="d-flex flex-wrap">

            @if (Model.CurrentLogins != null && Model.CurrentLogins.Count > 0)
            {
                @for (var index = 0; index < Model.CurrentLogins.Count; index++)
                {
                    <form asp-controller="Manage" asp-action="RemoveLogin" method="post">

                        <input asp-for="@Model.CurrentLogins[index].LoginProvider" name="LoginProvider" type="hidden"/>
                        <input asp-for="@Model.CurrentLogins[index].ProviderKey" name="ProviderKey" type="hidden"/>


                        <div class="mdc-card m-2">
                            <div class=" octo-card-content">

                                <div class="octo-card__primary">
                                    <h5 class="octo-card__title mdc-typography mdc-typography--headline5">@Model.CurrentLogins[index].LoginProvider</h5>
                                </div>

                                <div class="mdc-card__content">
                                    @if ((bool)(ViewData["ShowRemoveButton"] ?? false))
                                    {
                                        <div class="mdc-card__actions">
                                            <button type="submit" class="mdc-button mdc-button--outlined  mdc-card__action mdc-card__action--button" value="Remove">Remove</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
            @if (Model.OtherLogins != null && Model.OtherLogins.Count > 0)
            {
                <form asp-controller="Manage" asp-action="LinkLogin" method="post">

                    @foreach (var provider in Model.OtherLogins)
                    {
                        <div class="mdc-card m-2">
                            <div class=" octo-card-content">

                                <div class="octo-card__primary">
                                    <h5 class="octo-card__title mdc-typography mdc-typography--headline5">@provider.DisplayName</h5>
                                </div>

                                <div class="mdc-card__actions">
                                    <button class="mdc-button mdc-button--outlined mdc-card__action mdc-card__action--button" type="submit" name="provider" value="@provider.DisplayName">Add</button>
                                </div>
                            </div>
                        </div>
                    }

                </form>
            }

        </div>

        @if ((Model.CurrentLogins == null || !Model.CurrentLogins.Any()) && (Model.OtherLogins == null || !Model.OtherLogins.Any()))
        {
            <div class="col-auto text-center">
                <div class="alert alert-info">
                    @IdentityTexts.Backend_Identity_ManageLogins_NoCurrentOrOtherLogins_Message
                </div>
            </div>
        }

    </div>
</div>