@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Manage.ResetPasswordViewModel
@inject IOptions<OemOptions> OemOptions;
@{
    ViewData["Title"] = IdentityTexts.Backend_Identity_ResetPassword_Title;
    Layout = OemOptions.Value.HideNavigation ? "_LayoutNoNavigation" : "_Layout";
}

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_ResetPassword_Title</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p>@IdentityTexts.Backend_Identity_ResetPassword_SubTitle</p>
    </div>
</div>

<partial name="_ValidationSummary"/>

<form asp-route="ResetPassword" class="form-horizontal">
    <input type="hidden" asp-for="Token" id="Token"/>

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="mdc-card">
                <div class=" octo-card-content">

                    <div class="mdc-card__content">
                        <fieldset>
                            <div class="form-group octo-input-group">
                                <label class="mdc-text-field octo-login-input mdc-text-field--outlined">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label" id="NewPassword">@IdentityTexts.Backend_Identity_NewPassword_Label</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input type="password" class="mdc-text-field__input" name="NewPassword" asp-for="NewPassword" autocomplete="off" aria-labelledby="NewPassword">
                                </label>
                                <span asp-validation-for="NewPassword" class="sg-validation-error"></span>
                            </div>
                            <div class="form-group octo-input-group">
                                <label class="mdc-text-field octo-login-input mdc-text-field--outlined">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label" id="ConfirmPassword">@IdentityTexts.Backend_Identity_ConfirmNewPassword_Label</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input type="password" class="mdc-text-field__input" name="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off" aria-labelledby="ConfirmPassword">
                                </label>
                                <span asp-validation-for="ConfirmPassword" class="sg-validation-error"></span>
                            </div>
                        </fieldset>

                    </div>
                    <div class="mdc-card__actions">
                        <button class="mdc-button mdc-button--raised mdc-button mdc-card__action mdc-card__action--button" name="button" type="submit" value="reset">
                            @IdentityTexts.Backend_Identity_ResetPassword_Button_Label
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>