@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Grants.GrantsViewModel
@{
    ViewBag.Title = IdentityTexts.Backend_Identity_Grant_Title;
}
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_Grant_Title</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p>@IdentityTexts.Backend_Identity_Grant_Subtitle</p>
    </div>
</div>

<partial name="_ValidationSummary"/>

<div class="row justify-content-center">

    @if (Model.Grants == null || Model.Grants.Any() == false)
    {
        <div class="col-sm-4">
            <div class="alert alert-info">
                @IdentityTexts.Backend_Identity_Grant_NoAccessGranted
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-nowrap">
            @foreach (var grant in Model.Grants)
            {
                <div class="mdc-card m-2 p-4">
                    <div class=" octo-card-content">

                        <div class="octo-card__primary">
                            <h5 class="octo-card__title mdc-typography mdc-typography--headline5">
                                @if (grant.ClientLogoUrl != null)
                                {
                                    <img src="@grant.ClientLogoUrl" alt="">
                                }
                                <div class="row">
                                    <strong>@grant.ClientName</strong>
                                </div>
                                <div class="row">
                                    <div>@string.Format(IdentityTexts.Backend_Identity_Grant_Created_Label, grant.Created.ToString("yyyy-MM-dd"))</div>
                                </div>
                            </h5>
                        </div>

                        <div class="mdc-card__content">

                            @if (grant.Expires.HasValue)
                            {
                                <div class="row">
                                    <div>@string.Format(IdentityTexts.Backend_Identity_Grant_Expires_Label, grant.Expires.Value.ToString("yyyy-MM-dd"))</div>
                                </div>
                            }
                            @if (grant.IdentityGrantNames != null && grant.IdentityGrantNames.Any())
                            {
                                <div class="row">
                                    <strong>@IdentityTexts.Backend_Identity_Grant_IdentityGrants_Title</strong>
                                    <ul>
                                        @foreach (var name in grant.IdentityGrantNames)
                                        {
                                            <li>@name</li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (grant.ApiGrantNames != null && grant.ApiGrantNames.Any())
                            {
                                <div class="row">
                                    <strong>@IdentityTexts.Backend_Identity_Grant_ApiGrants_Title</strong>
                                    <ul>
                                        @foreach (var name in grant.ApiGrantNames)
                                        {
                                            <li>@name</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="text-right">
                                <form asp-action="Revoke">
                                    <input type="hidden" name="clientId" value="@grant.ClientId">
                                    <button class="btn btn-danger">@IdentityTexts.Backend_Identity_Grant_RevokeAccess_Label</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>